{
  "purchases": [
    {
      "name": "BTC",
      "exchangeId": "bitcoin",
      "currencyAmount": 10000,
      "currency": "CAD"
    },
    {
      "name": "ETH",
      "exchangeId": "ethereum",
      "currencyAmount": 10000,
      "currency": "CAD"
    }
  ]
}