{
  "trades": [
    {
      "minorSymbol": "ETH",
      "majorSymbol": "BTC",
      "sellSymbol": "BTC",
      "sellUnits": 1,
      "buySymbol": "ETH",
      "buyUnits": 30
    },
    {
      "intermediarySymbol": "BTC",
      "sellSymbol": "OMG",
      "sellUnits": 100,
      "buySymbol": "REQ",
      "buyUnits": 5000
    },
    {
      "minorSymbol": "OMG",
      "majorSymbol": "BTC",
      "sellSymbol": "BTC",
      "sellUnits": 1,
      "buySymbol": "OMG",
      "buyUnits": 1000
    }
  ],
  "sendEmail": true,
  "email": "my@email.com",
  "smtp": {
    "host": "smtp.server.com",
    "port": 587,
    "username": "",
    "password": ""
  },
}