{
  "trades": [
    {
      "minorId": "ethereum",
      "majorId": "bitcoin",
      "sellId": "bitcoin",
      "sellUnits": 1,
      "buyId": "ethereum",
      "buyUnits": 30
    },
    {
      "intermediaryId": "bitcoin",
      "sellId": "omisego",
      "sellUnits": 100,
      "buyId": "request-network",
      "buyUnits": 5000
    },
    {
      "minorId": "omisego",
      "majorId": "bitcoin",
      "sellId": "bitcoin",
      "sellUnits": 1,
      "buyId": "omisego",
      "buyUnits": 1000
    }
  ],
  "sendEmail": true,
  "email": "my@email.com",
  "smtp": {
    "host": "smtp.server.com",
    "port": 587,
    "username": "",
    "password": ""
  }
}