{
  "investmentAmount": 1000,
  "holdings": [
    {
      "name": "BTC",
      "exchangeId": "bitcoin",
      "units": 10
    },
    {
      "name": "ETH",
      "exchangeId": "ethereum",
      "units": 10
    }
  ]
}