{
  "coins": [
    {
      "name": "BTC",
      "exchangeId": "bitcoin"
    },
    {
      "name": "ETH",
      "exchangeId": "ethereum"
    },
    {
      "name": "XRP",
      "exchangeId": "ripple"
    }
  ],
  "sendEmail": true,
  "email": "my@email.com",
  "smtp": {
    "host": "smtp.server.com",
    "port": 587,
    "username": "",
    "password": ""
  },
  "alertPercent": 10
}